In [204]:
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [205]:
url = 'https://en.wikipedia.org/wiki/List_of_busiest_airports_by_passenger_traffic'

In [206]:
r = requests.get(url)
html = r.content
soup = BeautifulSoup(html, 'lxml')
wiki_tables = soup.findAll('table', 'sortable')[0]

In [207]:
table_rows = wiki_tables.find_all('tr')
table_headers = wiki_tables.find_all('th')
table_headers

[<th>Rank</th>,
 <th>Airport</th>,
 <th>Location</th>,
 <th>Country</th>,
 <th>Code<br/>(IATA/ICAO)</th>,
 <th>Half-year<br/>passengers</th>,
 <th>Rank<br/>change</th>,
 <th>%<br/>Change
 </th>]

In [208]:
l = []
for tr in table_rows:
    td = tr.find_all(['td','th'])
    row = [tr.text for tr in td]
    l.append(row)
l[0:2]

[['Rank',
  'Airport',
  'Location',
  'Country',
  'Code(IATA/ICAO)',
  'Half-yearpassengers',
  'Rankchange',
  '%Change\n'],
 ['1.',
  ' Hartsfield–Jackson Atlanta International Airport',
  'Atlanta, Georgia',
  'United States',
  'ATL/KATL',
  '54,388,000',
  '',
  '3.3%\n']]

In [209]:
# df = pd.DataFrame(l, columns=table_headers)
df = pd.DataFrame(l)
df.head()

,0,1,2,3,4,5,6,7
0,Rank,Airport,Location,Country,Code(IATA/ICAO),Half-yearpassengers,Rankchange,%Change\n
1,1.,Hartsfield–Jackson Atlanta International Airport,"Atlanta, Georgia",United States,ATL/KATL,"54,388,000",,3.3%\n
2,2.,Beijing Capital International Airport,"Chaoyang-Shunyi, Beijing",China,PEK/ZBAA,"49,242,000",,0.6%\n
3,3.,Los Angeles International Airport,"Los Angeles, California",United States,LAX/KLAX,"43,049,000",1,0.9%\n
4,4.,Tokyo Haneda Airport,"Ōta, Tokyo",Japan,HND/RJTT,"41,435,000",1,1.1%\n

In [210]:
new_header = df.iloc[0]
df = df[1:]
df.columns = new_header
df.head()

,Rank,Airport,Location,Country,Code(IATA/ICAO),Half-yearpassengers,Rankchange,%Change
1,1.,Hartsfield–Jackson Atlanta International Airport,"Atlanta, Georgia",United States,ATL/KATL,"54,388,000",,3.3%\n
2,2.,Beijing Capital International Airport,"Chaoyang-Shunyi, Beijing",China,PEK/ZBAA,"49,242,000",,0.6%\n
3,3.,Los Angeles International Airport,"Los Angeles, California",United States,LAX/KLAX,"43,049,000",1,0.9%\n
4,4.,Tokyo Haneda Airport,"Ōta, Tokyo",Japan,HND/RJTT,"41,435,000",1,1.1%\n
5,5.,Dubai International Airport,"Garhoud, Dubai",United Arab Emirates,DXB/OMDB,"41,278,000",2,5.6%\n

In [211]:
df['Half-yearpassengers'] = df['Half-yearpassengers'].str.replace(',','')

In [212]:
df['Half-yearpassengers'] = df['Half-yearpassengers'].convert_objects(convert_numeric=True)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: convert_objects is deprecated.  To re-infer data dtypes for object columns, use Series.infer_objects()
For all other conversions use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  """Entry point for launching an IPython kernel.

In [213]:
df

,Rank,Airport,Location,Country,Code(IATA/ICAO),Half-yearpassengers,Rankchange,%Change
1,1.,Hartsfield–Jackson Atlanta International Airport,"Atlanta, Georgia",United States,ATL/KATL,54388000.0,,3.3%\n
2,2.,Beijing Capital International Airport,"Chaoyang-Shunyi, Beijing",China,PEK/ZBAA,49242000.0,,0.6%\n
3,3.,Los Angeles International Airport,"Los Angeles, California",United States,LAX/KLAX,43049000.0,1,0.9%\n
4,4.,Tokyo Haneda Airport,"Ōta, Tokyo",Japan,HND/RJTT,41435000.0,1,1.1%\n
5,5.,Dubai International Airport,"Garhoud, Dubai",United Arab Emirates,DXB/OMDB,41278000.0,2,5.6%\n
6,6.,O'Hare International Airport,"Chicago, Illinois",United States,ORD/KORD,39512000.0,,2.8%\n
7,7.,London Heathrow Airport,"Hillingdon, London",United Kingdom,LHR/EGLL,38750000.0,,1.8%\n
8,8.,Shanghai Pudong International Airport,"Pudong, Shanghai",China,PVG/ZSPD,38220000.0,1,4.2%\n
9,9.,Hong Kong International Airport,"Chek Lap Kok, Islands, New Territories","Hong Kong SAR, China",HKG/VHHH,37800000.0,1,2.5%\n
10,10.,Paris-Charles de Gaulle Airport,"Roissy-en-France, Île-de-France",France,CDG/LFPG,36339000.0,,7.2%\n
11,11.,Dallas/Fort Worth International Airport,"Dallas-Fort Worth, Texas",United States,DFW/KDFW,36122000.0,4,6.3%\n
12,12.,Guangzhou Baiyun International Airport,"Baiyun-Huadu, Guangzhou, Guangdong",China,CAN/ZGGG,35646000.0,1,4.1%\n
13,13.,Seoul Incheon International Airport,Incheon,Republic of Korea,ICN/RKSI,35547000.0,3,5.7%\n
14,14.,Amsterdam Airport Schiphol,"Haarlemmermeer, North Holland",The Netherlands,AMS/EHAM,34537000.0,3,1.4%\n
15,15.,Frankfurt Airport,"Frankfurt, Hesse",Germany,FRA/EDDF,33644000.0,1,3.0%\n
16,16.,Singapore Changi Airport,"Changi, East Region",Singapore,SIN/WSSS,33190000.0,3,3.4%\n
17,17.,Suvarnabhumi Airport,"Bang Phli, Samut Prakan",Thailand,BKK/VTBS,32760000.0,4,2.5%\n
18,18.,Denver International Airport,"Denver, Colorado",United States,DEN/KDEN,32705000.0,2,6.1%\n
19,19.,Indira Gandhi International Airport,Delhi,India,DEL/VIDP,32558857.0,7,7.4%\n
20,20.,Soekarno–Hatta International Airport,"Tangerang, Banten",Indonesia,CGK/WIII,NaN,1,\n
21,21.,John F. Kennedy International Airport,"Queens, New York, New York",United States,JFK/KJFK,30481000.0,2,4.4%\n
22,22.,Kuala Lumpur International Airport,"Sepang, Selangor",Malaysia,KUL/WMKK,30355000.0,2,2.0%\n
23,23.,Madrid Barajas Airport,"Barajas, Madrid",Spain,MAD/LEMD,29284000.0,2,6.6%\n
24,24.,San Francisco International Airport,"San Mateo County, California",United States,SFO/KSFO,27704000.0,2,0.8%\n
25,25.,Chengdu Shuangliu International Airport,"Shuangliu-Wuhou, Chengdu, Sichuan",China,CTU/ZUUU,27340000.0,2,4.7%\n
26,26.,Shenzhen Bao'an International Airport,"Bao'an, Shenzhen, Guangdong",China,SZX/ZGSZ,25837000.0,6,6.2%\n
27,27.,Orlando International Airport,"Orlando, Florida",United States,MCO/KMCO,25800000.0,7,6.7%\n
28,28.,McCarran International Airport,"Las Vegas, Nevada",United States,LAS/KLAS,25274000.0,2,3.1%\n
29,29.,Barcelona–El Prat Airport,Barcelona,Spain,BCN/LEBL,24821000.0,2,5.5%\n
30,30.,Toronto Pearson International Airport,"Mississauga, Ontario",Canada,YYZ/CYYZ,24463000.0,1,3.1%\n

In [214]:
df['Half-yearpassengers'] = df['Half-yearpassengers'].astype(float)

In [215]:
df.groupby('Country')['Half-yearpassengers'].sum()

Country
Canada                   24463000.0
China                   176285000.0
France                   36339000.0
Germany                  33644000.0
Hong Kong SAR, China     37800000.0
India                    32558857.0
Indonesia                       0.0
Japan                    41435000.0
Malaysia                 30355000.0
Republic of Korea        35547000.0
Singapore                33190000.0
Spain                    54105000.0
Thailand                 32760000.0
The Netherlands          34537000.0
United Arab Emirates     41278000.0
United Kingdom           38750000.0
United States           315035000.0
Name: Half-yearpassengers, dtype: float64